@{
    ViewData["Title"] = "Agendar visita a taller";
}
<div>
    <h1 style="background-color:aliceblue">@ViewData["Title"]</h1>
</div>
<br />

<br />
<div style="background-color:aliceblue">
    <p>
        <h2>
            Las actividades complementarias son adicionales al Servicio de Mantenimiento, siendo necesaria una previa
            revisión al vehículo para poder ser ofrecidas.
            Estas son particularmente específicas por modelo,
            tipo de vehículo, kilometraje y/o tiempo de vida del auto.La omisión de estas, al ser recomendadas,
            pueden generar daños en el vehículo los cuales no serán cubiertos en Garantía.
        </h2>
    </p>
</div>

<div>
    <label style="background-color:aliceblue" for="start"> <h3>Selectcionar fecha:</h3> </label>

    <input type="date" id="start" name="trip-start"
           value=""
           min="2019-01-01" max="2020-12-31">

    <br />



    <table style="background-color:beige" width="30%" align="left">

        <tr>
            <td style="height:20px;"><h4>Tipo de veiculo  </h4>    </td>
            <td style="height:20px;"><input style="color:black" , type="text" , name="" ,value="" placeholder="Automovil/Motocicleta" /></td>
        </tr>
        <tr>
            <td><h4> Marca  </h4> </td>
            <td style="height:20px;"><input style="height:30px; border:2; " type="text" name="" value="" placeholder="Marca del vehiculo"></td>
        </tr>
        <tr>
            <td><h4> Modelo  </h4> </td>
            <td style="height:20px;"><input style="height:30px; border:2; " type="text" name="" value="" placeholder="Modelo del vehiculo"></td>
        </tr>
        <tr>
            <td><h4> Año  </h4> </td>
            <td style="height:20px;"><input style="height:30px; border:2; " type="text" name="" value="" placeholder="Año del vehiculo"></td>
        </tr>
        <tr>
            <td><h4> Kilometraje  </h4> </td>
            <td style="height:20px;"><input style="height:30px; border:2; " type="text" name="" value="" placeholder="Km recorridos"></td>
        </tr>
        <tr>
            <td><h4> Motivo de ingreso   </h4> </td>
            <td style="height:20px;"><input style="height:30px; border:2; " type="text" name="" value="" placeholder="Descripcion/falla"></td>
        </tr>



    </table>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
