@{
    ViewData["Title"] = "Contactanos a:";
}
<h2 style="background-color:aliceblue">@ViewData["Title"]</h2>


<address style="background-color:aliceblue">
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    5512443253
</address>

<address style="background-color:aliceblue">
    <strong>Soporte o dudas a:</strong> <a href="mailto:victorrevenge@hotmail.com">victorrevenge@hotmail.com</a><br />
    <strong>En Gmail como:</strong> <a href="mailto:victormanuelmsg@gmail.com">victormanuelmsg@gmailcom</a>
</address>
